<div class="container">
  <h1 class="text-center text-primary">User Menegment</h1>

  <div class="filters-container">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="search" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-select
        (selectionChange)="sortUsers($event.value)"
        placeholder="sort"
      >
        <mat-option value="ageLowHigh">Age low high </mat-option>
        <mat-option value="ageHighLow">Age high low</mat-option>
        <mat-option value="byName"> a-z</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
    <table class="scroll-table table table-striped table-hover table-bordered">
      <thead>
        <tr class="text-center">
          <th>#</th>
          <th>name</th>
          <th>age</th>
          <th>company</th>
        </tr>
      </thead>
      <tbody>
        @for (user of filterdUsers; track $index ) {
        <tr class="text-center">
          <th scope="row">{{ $index + 1 }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.company }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="collectionSize"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="refreshUsers()"
    >
    </ngb-pagination>
    <mat-form-field>
      <mat-select
        placeholder="Choose table size"
        [(ngModel)]="pageSize"
        (ngModelChange)="refreshUsers()"
      >
        <mat-option [value]="5">5 </mat-option>
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="15"> 15</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

@if(users.length ) {
<div></div>
} @else {
<h2 class="text-center">no users available</h2>
}
