.text-center {
  text-align: center;
}
.filters-container {
  display: flex;
  justify-content: space-evenly;
}
.table-container {
  position: relative;
}
table {
  width: 100%;
}
.table-scroller {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  overflow-y: auto;
}

.scroll-table {
  // overflow-y: auto;
  // &::-webkit-scrollbar {
  //   width: 6px;
  // }
  // &::-webkit-scrollbar-track {
  //   background-color: transparent;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: darkgray;
  //   border-radius: 4px;
  // }
}
