.text-center {
  text-align: center;
}
.filters-container {
  display: flex;
  justify-content: space-evenly;
}
.table-container {
  position: relative;
}
.regular-row:hover {
  background-color: #e0e0e0;
}
table {
  width: 100%;
}
.table-scroller {
  position: relative;
  min-height: 65vh;
  max-height: 65vh;
  overflow-y: auto;

  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 4px;
  }
}
